.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    max-width: calc(100% - 96px);
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 590px) {
    .photo-grid {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        gap: 12px;
    }
}