.cover__title {
    margin: 0;
    font-family: "Inter-Black";
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 590px) {
    .cover__title {
       font-size: 36px;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
     }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 2rem;
        line-height: 35px;
    }
}